/* CLASSES GLOBAIS */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.cadContainer{
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin: 35px auto 60px;
    display: flex;
    flex-direction: column;
}
.topTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}
.topTitle > p {
    font-size:13px;
    line-height:18px;
    color:#303030;
    margin: 0;
    align-self: flex-end;
}
.topTitle .content{
    display: flex;
    align-items: center;
    gap:10px;
}
.mainTitle{
    font-size:25px;
    line-height:28px;
    font-weight:400;
    color:#515151;
}
.info{
    position: relative;
    cursor: pointer;
    display:flex;
    width: 16px;
    height: 16px;
}
.info:hover .infoDetails{
    display: flex;
}
.iconInfo{
    width: 16px;
    height: 16px;
}
.iconInfo:hover .infoDetails{
    display: flex;
}
.infoDetails{
    width: 221px;
    height: 51px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 2px #00000043;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: -3px;
}
.infoDetails i{
    color: #D32E2E;
    font-size:16px;
    margin: 3px 2px;
}
.infoDetails p{
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    line-height:17px;
    color: #505050;
    margin:5px auto auto 8px;
}
.cadBtn{
    text-align: center;
    font-size: 12px;
    line-height:16px;
    font-weight: bold;
    letter-spacing: 0px;
    font-family: 'Roboto', sans-serif;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}
.cadBtn i{
    font-size:13px; 
    margin-right: 10px;
}
.btn-green{
    background: #5CAC21 0% 0% no-repeat padding-box;
    color: #fff;
    transition: .3s ease;
}
.btn-green:hover{
    background: #65BF24 0% 0% no-repeat padding-box;
    transition: .3s ease;
}
input[type="date" i] {
    width: 100%;
}
.modal-content{
    background-color: #fff!important;
}
.modal-body p:last-child{
    margin-bottom:0;
}
.modal-confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.modal-confirm i{
    font-size: 100px;
    color: #5CAC21 ;
}
#modalApagar .modal-confirm i{
    font-size: 100px;
    color:#CC1330;
}
#modalApagar .modal-confirm p{
    text-align: center;
}

@media (min-width: 576px){
    .cadContainer {
        max-width: 540px;
    }
}
@media (min-width: 580px){
    .cadContainer {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .cadContainer {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .cadContainer {
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    .cadContainer {
        max-width: 1320px;
    }
}

/* HEADER */
.headerSite {
    width:100%;
    height: 80px;
    background-color:#EFEFEF;
    display: flex;
    align-items: center;
}
.headerSite .logo {
    padding:0 20px;
}

/* CADASTRO USUÁRIO */
.formContainer{
    width:100%;
    min-height: 356px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000067;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 15px 20px;
}
.formGrid{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    gap:25px 20px;
    grid-template-areas: 
    "name name name name cpf cpf data"
    "estado estado estado cidade cidade cidade enviar";
}
.formGrid .fieldset.name{
    grid-area: name;
}
.formGrid .fieldset.cpf{
    grid-area: cpf;
}
.formGrid .fieldset.data{
    grid-area: data;
}
.formGrid .fieldset.data input {
    padding: 5px 0 5px 3px;
}
.formGrid .fieldset.estado{
    grid-area: estado;
}
.formGrid .fieldset.cidade{
    grid-area: cidade;
}
.formGrid .fieldset.enviar{
    grid-area: enviar;
    align-self: flex-end;
}
.formGrid .fieldset{
    display: flex;
    flex-direction:column;
    border:none;
    gap: 15px;
    position: relative;
}
.formGrid .fieldset label{
    font-size:14px;
    line-height:20px;
    color:#202020;
}
.formGrid .input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    padding: 5px 10px;
    font-size:15px;
    line-height:21px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #B0B0B0;
    height:30px;
}
.formGrid .cadBtn{
    width:100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tableCadUser{
    margin: 24px auto 9px;
    border: 1px solid #D0D0D0;
}
.tableCadUser thead{
    background: #E0E0E0 0% 0% no-repeat padding-box;
}
.tableCadUser tbody{
    background: #fff 0% 0% no-repeat padding-box;
}
.tableCadUser tbody tr:hover{
    background: #F5F5F5 0% 0% no-repeat padding-box;
}
.tableCadUser th{
    text-align: left;
    font-size: 13px;
    line-height:24px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #101010;
    text-transform: uppercase;
    border: 1px solid #D0D0D0;
}
.tableCadUser td{
    border: 1px solid #D0D0D0;
    font-size: 12px;
    line-height:16px;
    letter-spacing: 0px;
    color: #303030;
}
.tableCadUser td i{
    font-size:20px;
    color: #5CAC21 ;
}
.table>:not(caption)>*>*{
    border-bottom-width:0 !important;
}
.thW250{
    min-width: 250px;
}
.thW204{
    min-width: 204px;
}
.thW180{
    min-width: 180px;
}
.thW140{
    min-width: 140px;
}
.thW100{
    width: 100px;
}
.tblBtn{
    background: transparent;
    border: none;
}

@media (max-width:1199px){
    .formGrid{
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        gap:25px 20px;
        grid-template-areas: 
        "name name name cpf cpf data data"
        "estado estado estado cidade cidade cidade enviar";
    }
    .thW250{
        min-width: 205px;
    }
    .thW204{
        min-width: 175px;
    }
    .thW180{
        min-width: 160px;
    }
    .thW140{
        min-width: 100px;
    }
    .thW100{
        width: 70px;
    }
}
@media (min-width:992px){
    .thDesktop{
        display:table-cell;
    }
    .thMobile{
        display:none;
    }
}
@media (max-width:991px){
    .thMobile{
        display:table-cell;
    }
    .thDesktop{
        display:none;
    }
    .thMobileSm{
        display:table-cell;
    }
    .tableCadUser th{
        text-align: center;
    }
}
@media (max-width:768px){
    .formGrid{
        grid-template-columns: repeat(6, 1fr);
        gap:25px 20px;
        grid-template-areas: 
        "name name cpf cpf data data"
        "estado estado cidade cidade enviar enviar";
    }
}
@media (max-width:579px){
    .thMobileSm{
        display:none;
    }
    .formContainer {
        padding: 15px 10px;
    }
}
@media (max-width:480px){
    .formGrid{
        grid-template-columns: repeat(1, 1fr);
        gap:25px 20px;
        grid-template-areas: 
        "name"
        "cpf"
        "data"
        "estado"
        "cidade"
        "enviar";
        padding: 0 10px;
    }
    .formContainer {
        padding: 15px 0px;
    }
    .tableCadUser th {
        font-size: 10px;
        line-height: 16px;
    }
    .tableCadUser td i{
        font-size:18px;
    }
    .tableCadUser td {
        font-size: 10px;
        line-height: 16px;
    }
    .thW250{
        min-width: 173px;
    }

}
@media (max-width:360px){
    .tableCadUser td {
        font-size: 9px;
        line-height: 14px;
    }
    .tableCadUser th {
        font-size: 9px;
        line-height: 14px;
    }
    .tableCadUser td i {
        font-size: 16px;
    }
    .tableCadUser td button {
        padding:0;
    }
    .table>:not(caption)>*>* {
        padding: .5rem .2rem !important;
    }
}